:root {
    --basic-color: #333333;
    --light-color: #acacac;
    --accent-color: #3373c3;
}

html,
body {
    font-size: 62.5%;

    #app {
        font-family: 'Muli', sans-serif;
        padding: 8rem 0 6.2rem;

        .topbar {
            position: fixed;
            width: 100%;
            height: 60px;
            background: #fff;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .container {
            padding: 0 10px;
        }
    }
}
