.card {
    background-color: white;
    box-shadow: 5px 5px 20px #00000020;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 47.5%;
    margin-top: 15px;
    text-align: center;
    line-height: 23px;

    img {
        width: 40%;
        height: auto;
    }

    h2 {
        margin-top: 20px;
        font-size: 12px;
    }
}